.about-page {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    /* Ensure content outside viewport is hidden */
}

#about {
    position: absolute;
    width: 100%;
    bottom: 60vh;
}

#about-content {

    background-color: #2a3063;
    /* Solid background color */
    height: 65vh;
    width: 100%;
    position: relative;
    color: rgb(185, 171, 171);
    text-align: center;
    justify-content: center;
}

.about-text {
    padding: 10vw 10vw 0 10vw;
    font-size: 2vw;
}

#about-content::before {
    content: "";
    position: absolute;
    top: -30%;
    /* Adjust to control the fade height */
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(#10154400, #2a3063);
}