.about-page {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    background-color: transparent;


}

#about {
    position: relative;
}

#about-content {

    background: linear-gradient(to bottom, transparent, #2a3063 20%, #2a3063);
    width: 100%;
    position: relative;
    color: rgb(211, 196, 196);
    text-align: center;
    justify-content: center;
    font-family: Manrope;


}

.about-text {

    font-size: 20px;
    padding: 300px 10vw 0 10vw;

}


@media (max-width: 819px) {
    .about-text {
        font-size: 20px;

    }

}

.about-skills {
    padding: 100px 0 30px 0;
    font-family: Arial, Helvetica, sans-serif;

}

.about-skills-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;

}

.skill {

    color: rgb(187, 187, 187);
    padding: 0 0.5em;
    margin: 0 0.5em 0 0;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 10px;
}

.about-text p {
    padding-top: 40px;
}

.html {
    border-bottom-color: #e34c26;
}

.css {
    border-bottom-color: #2662e3;
}

.js {
    border-bottom-color: #8CC84B;
}

.python {
    border-bottom-color: #FFD43B
}

.Flask {
    border-bottom-color: #00A98F
}

.node {
    border-bottom-color: #8CC84B
}

.express {
    border-bottom-color: #00A98F
}

.react {
    border-bottom-color: #61DAFB
}

.postgresql {
    border-bottom-color: #336791
}