.laptop-container {
  display: flex;
  justify-content: center;
}

.laptop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 439px;
  padding: 50px;
  margin: 0 auto;

}

.laptop-image {
  height: 100%;
  padding: 10px;
}

.front-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.front {
  width: 395px;
  height: 256px;
  margin: auto;
  border-bottom: .5rem solid #212121;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #212121;
}

.webcamera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  left: calc(50% - 10px);
  background: rgba(0, 0, 0, .14);
}

.outer {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid rgba(10, 10, 10, .74);
  position: relative;
  top: 10%;
  background: rgba(222, 35, 35, .29);
}

.screen::after {

  display: block;
  width: 94%;
  padding: 0;
  position: absolute;
  top: 93.5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: rgba(255, 255, 255, .64);
  text-align: center;
}

.screen1::after {
  content: "NoteWorthy";
}

.screen2::after {
  content: "Melodic";
}

.screen {
  width: 372px;
  max-width: 100%;
  height: 212px;
  max-height: 100%;
}

.screen:hover {
  opacity: 0.9;
  box-shadow: 20px 10px 50px 10px rgba(255, 255, 255, 0.5);
}

.screen * {
  max-width: 100%;
  max-height: 100%;
}

.line {
  width: 335px;
  height: 6px;
  position: absolute;
  top: 101%;
  background: rgba(251, 253, 255, .09);
}

.bottom {
  position: relative;
  width: 410px;
  left: -35px;
  height: 16px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .5);
  background: radial-gradient(#7E8081, #231E1E 75%);
}