.portfolio-page {
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

#portfolio {
    position: absolute;
    top: -100px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
    min-width: 1000px;
    text-align: center;
    padding-bottom: 1;
    background: linear-gradient(to bottom, #123c69, rgba(18, 60, 105, 0.704));
}

.project1-container {
    width: 50vw;
    min-width: 500px;
}

.project2-container {
    width: 50vw;
    min-width: 500px;
}

.project-content {
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    /* Add this */
}

.project-content::after {
    content: "";
    position: absolute;
    top: 60vh;
    /* Adjust the value as needed for the desired blur height */
    left: 0;
    right: 0;
    height: 10vh;
    /* Adjust the height as needed */
    background: linear-gradient(to bottom, rgba(18, 60, 105, 0.704), #123c6900);



}

.project-right {
    padding: 50px;
}

.project-title {
    font-size: 2vw;
    padding: 20px;
    margin: 1vw;
    line-height: 1pt;
    color: #eee2dc;
}