.portfolio-page {
    width: 100%;
    background-color: transparent;
    padding-bottom: 60vh
}

#portfolio {
    position: absolute;
    top: -75px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background: linear-gradient(to bottom, #204d37, #2a3063dc);
    padding: 15px;
    box-sizing: border-box;


}

@media (max-width: 819px) {
    .projects {

        flex-direction: column;
    }
}

.project1-container {
    max-width: 50%;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1),
        0px 2px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
}

.project2-container {
    max-width: 50%;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.1),
        0px 2px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #ddd;
}

.project-content {
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: #eee2dc;
    /* To make sure two projects fit side by side with spacing */

}


.project-title {
    font-size: 2vw;
    color: #eee2dc;
    font-family: Prata;

}

.project-description {
    font-size: 1vw;
    padding: 110px 10px 10px 10px;
    font-family: Manrope;
}

.project-stack {
    font-size: 1.2vw;
    font-family: Manrope;
}


@media (min-width: 970px) and (max-width: 1700px) {
    .project-content {
        flex-direction: column;

    }

    .project-title {
        font-size: 3vw;

    }

    .project-stack {
        font-size: 1.5vw;
    }

    .project-description {
        padding: 10px 20px 30px 20px;
        font-size: 1.5vw;
    }

}

@media (min-width: 820px) and (max-width: 969px) {
    .project-content {
        flex-direction: row;

    }

    .projects {
        flex-direction: column;

    }

    .project1-container {
        max-width: 100%;
    }

    .project2-container {
        max-width: 100%;
    }

    .project-description {
        font-size: 2vw;
    }

    .project-title {
        font-size: 3vw;

    }

    .project-stack {
        font-size: 2vw;
    }

}

@media (max-width: 819px) {
    .projects {
        flex-direction: column;
        /* Everything is stacked vertically */
    }

    .project-content {
        flex-direction: column;

    }

    .project1-container {
        max-width: 100%;
    }

    .project2-container {
        max-width: 100%;
    }

    .project-description {
        font-size: 2.5vw;

        padding: 10px 30px 20px 30px;


    }

    .project-title {
        font-size: 5vw;

    }

    .project-stack {
        font-size: 2.5vw;
    }

}


.project-top-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}