.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 100px;
  background: #d2d1bf;

  position: fixed;
  top: 0;
  z-index: 10000;
  box-sizing: border-box;
  white-space: nowrap;

}


.navbar-container .navbar-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4c251c;
}



.navbar-container .navbar-name {
  font-style: oblique;
  padding-left: 1rem;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;

}

.navbar-container .navbar-name :hover {
  opacity: 0.8;
  color: rgb(105, 70, 65);
}


.navbar-container .navbar-icons {
  display: flex;
  justify-content: center;
}

.navbar-container .navbar-icons :hover {
  opacity: 0.8;
}


.navbar-container .navbar-icons {
  padding: 10px;
}

.navbar-icons .navbar-icon img {
  margin: .7rem;
  height: 2rem;
  padding: 2px;
  filter: contrast(30%) sepia(90%) brightness(.8) hue-rotate(290deg);
}

#email-icon img {
  height: 2.3rem;

}


.navbar-container .nav-items {

  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-right: 1rem;

}

.navbar-container .nav-items .nav-link {
  text-align: center;
  margin-left: 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #4c251c;
}

#resume-link {
  color: #4c251c;

}

.navbar-container .nav-items .nav-link:after {
  content: '';
  display: block;
  border-top: 2px solid #311d1a;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
  transform: scaleX(0.8);
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
}

.navbar-container .nav-items .on-home {
  text-align: center;
  margin-left: 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #0d3c0b;
  transform: scale(1.2);
  border-bottom: .1rem solid #0d3c0b;

}

.navbar-container .nav-items .on-portfolio {
  text-align: center;
  margin-left: 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #060a81;
  transform: scale(1.2);
  border-bottom: .1rem solid #14199a;

}

.navbar-container .nav-items .on-about {
  text-align: center;
  margin-left: 4rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #3b3c88;
  transform: scale(1.2);
  border-bottom: .1rem solid #2f3396;

}