.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100px;
  background: #d2d1bf;
  background: linear-gradient(to bottom, #d2d1bf, #d2d1bf 70%, transparent);
  padding-bottom: 10px;
  font-family: Prata;
  position: fixed;
  top: 0;
  z-index: 10000;
  box-sizing: border-box;
  white-space: nowrap;

}


.navbar-container .navbar-left {

  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4c251c;
}



.navbar-container .navbar-name {
  font-style: oblique;
  padding-left: 1rem;
  align-items: center;
  font-size: 45px;
  font-weight: 500;
  cursor: pointer;

  font-family: P;

}

.navbar-container .navbar-name :hover {
  opacity: 0.8;
  color: rgb(105, 70, 65);
}


.navbar-container .navbar-icons {
  display: flex;
  justify-content: center;
}

.navbar-container .navbar-icons :hover {
  opacity: 0.8;
}


.navbar-container .navbar-icons {
  padding: 10px;
}

.navbar-icons .navbar-icon img {
  margin: .1vw;
  height: 40px;
  padding: .5vw;
  filter: contrast(30%) sepia(90%) brightness(.8) hue-rotate(290deg);
}

#email-icon img {
  height: 45px;

}


.navbar-container .nav-items {

  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-right: 1vw;

}

.navbar-container .nav-items .nav-link {
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: #4c251c;
}

#resume-link {
  color: #4c251c;

}

.navbar-container .nav-items .nav-link:after {
  content: '';
  display: block;
  border-top: 2px solid #3f2723;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
  transform: scaleX(0.8);
  -webkit-transform: scaleX(0.8);
  -moz-transform: scaleX(0.8);
  -ms-transform: scaleX(0.8);
  -o-transform: scaleX(0.8);
}

.navbar-container .nav-items .on-home {
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: #0d3c0b;
  transform: scale(1.2);
  border-bottom: .1rem solid #0d3c0b;

}

.navbar-container .nav-items .on-portfolio {
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: #196354;
  transform: scale(1.2);
  border-bottom: .1rem solid #196354;

}

.navbar-container .nav-items .on-about {
  text-align: center;
  margin-left: 50px;
  font-size: 20px;
  text-transform: uppercase;
  color: #262761;
  transform: scale(1.1);
  border-bottom: .1rem solid #262761;

}

@media (max-width: 1200px) {

  .navbar-container .nav-items .on-about,
  .navbar-container .nav-items .on-portfolio,
  .navbar-container .nav-items .on-home {
    margin-left: 3vw;
    font-size: 1.8vw;
  }

  .navbar-container .nav-items .nav-link {
    margin-left: 3vw;
    font-size: 1.8vw;
  }

  .navbar-icons .navbar-icon img {
    margin: .1vw;
    height: 3vw;
    padding: .5vw;
  }

  #email-icon img {
    height: 3.2vw;

  }

  .navbar-container .navbar-name {
    font-size: 4.2vw;
  }
}