.card-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #5c6d5a;
    border-radius: 20px;
    overflow: hidden;
    height: 19vw;
    width: 29vw;
    padding: 10px;
}

.card-image {
    flex: 1;
    object-fit: cover;
    border-radius: 20px;
}

.card-text {
    padding: 10px;
    text-align: center;
    flex: 2;


}

.card-name {
    font-size: 1.5vw;
    margin-top: 1vw;
    line-height: 1pt;
    color: #eee2dc;
}

.card-title {
    color: #bab2b5;
    font-size: 1.3vw;
    line-height: 1pt;
}

@media (max-width: 1000px) {
    .card {
        width: 40vw;
        height: 28vw
    }
}